



  <form action='/<%= idea.id %>' method='POST'>
    <div class="row">
      <div class="large-12 columns">
        <p>
          <% if idea.id %>
            Edit your Idea:
          <% else %>
            Your Idea:
          <% end %>
        </p>
        <% if idea.id %>
          <input type="hidden" name="_method" value="PUT" />
        <% end %>
        <input type='text' name='idea[title]' value="<%= idea.title %>"/><br/>
        <textarea name='idea[description]'><%= idea.description %></textarea><br/>
        <input type='submit'/>
      </div>
    </div>
  </form>
