<form action="/" method="POST" enctype='multipart/form-data'>
  <div class="row">
    <div class="large-12 columns">
      <input type="text" id="text-field" name='idea[title]' placeholder="title" style="border-radius: 25px;"/><br/><br/>
      <textarea id="text-description" name='idea[description]' placeholder="description" style="border-radius: 25px;" rows="4"></textarea><br/>
      <div id="buttons">
        <input type='file' name='myfile' class="custom-file-input"><br/>
        <button type="submit" class="button radius right" id="submit-button" value="save"><i id="buttontext" class="fa fa-check"></i></button>
        <a id="simple-menu" href="#sidr" class="button radius right"><i style="padding-top: 15px;"id="buttontext" class="fa fa-lightbulb-o"></i></a>
      </div>
    </div>
  </div>
</form>
