

<%= erb :navbar %>
<div class="fotorama" data-nav="thumbs" data-allowfullscreen="true" data-width="100%" data-ratio="800/600" data-minwidth="1000" data-width="100%" data-height="100%">
<% results.each do |idea| %>
<img src="images/<%= idea.filename%>"  data-caption="<%= idea.title %>: <%= idea.description%>">
<% end %>
</div>








